# STM32CubeIDE / Eclipse metadata
.metadata/
.settings/
*.log

# Build directories
Debug/
Release/
.build/

# Object files, binaries, maps
*.o
*.d
*.elf
*.bin
*.hex
*.map

# Launch/debug configs (osobné)
*.launch